header {
    background-color: #F56600;
    color: white;
    text-align: center;
    padding: 20px;
}

#lh-image {
    max-height: 170px;
    max-width: 170px;
    float: left;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

#main-content {
    font-family: 'Tangerine', cursive;
    font-size: 35px;
    display: flex;
    padding-right: 10px;
}

#main-photo {
    max-width: 400px;
    height: auto;
    padding-top: 0;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

#navbar {
    overflow: hidden;
    background-color: #F56600;
    border-bottom: 15px solid #522D80;
    color: white;
}

#navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-buttons {
    border: 2px solid white;
    border-radius: 5px;
    background-color: #522D80;
    margin-right: 5px;
    margin-bottom: 5px;
    float: right;
    direction: rtl;
}



.container {
    width: 60%;
    margin: 2rem auto; 
  }

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}

.gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

#contact-content {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

footer {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-style: italic;
    float: right;
    padding-right: 10px;
    color: #522D80;
    background-color: #F56600;
    bottom: 0;
    width: 100%;
    border-top: 15px solid #522D80;
}

footer p {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}